footer {
  width: 1280px;
  height: 273px;

  padding: 60px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid var(--grey);

  position: relative;
}

.footer__back_to_top {
  width: 46px;
  height: 46px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--black);
  border: 1px solid var(--grey);
  border-radius: 100%;

  cursor: pointer;

  position: absolute;
  top: -23px;
  right: 40px;
}

.footer__left_column {
  display: flex;
  align-items: center;
}

.footer__menu {
  margin-left: 40px;
  padding-left: 40px;

  position: relative;
}

.footer__menu::before {
  content: '';

  width: 1px;
  height: 160px;

  background-color: var(--white);

  position: absolute;
  left: 0;
}

.footer__menu__list {
  display: flex;
  flex-direction: column;

  padding-top: 9px;
}

.footer__menu__list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__menu__list__item__a {
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;

  padding-bottom: 5px;

  border-bottom: 1px solid transparent;

  transition: all .2s ease-in-out;
}

.footer__menu__list__item__a:hover {
  filter: brightness(0.7);

  border-color: var(--white);
}

.footer__title {
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  color: var(--grey);
}

.foter__text {
  width: 405px;

  font-size: 14px;
  text-align: justify;
  font-style: italic;
  color: var(--grey);
}

@media (max-width: 1280px) {
  footer {
    width: 100%;
  }
}

@media (max-width: 1030px) {
  footer {
    width: 100%;
    height: fit-content;

    flex-direction: column;
  }

  .footer__left_column {
    width: 100%;

    flex-direction: column;
    align-items: unset;
  }

  .footer__menu {
    margin-left: 0;
    padding-left: 0;
  }

  .footer__menu::before {
    display: none;
  }

  .footer__menu__list {
    padding: 20px 0;
  }

  .footer__right_column {
    width: 100%;
  }

  .foter__text {
    width: 100%;
  }
}